* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--white);
  font-family: var(--font);
}

body a {
  text-decoration: none;
}

.button {
  background-color: var(--white);
  padding: 0.625rem;
  border: none;
  border-radius: var(--border-radius);
  color: var(--black);
  cursor: pointer;

  font-weight: 900;
}

/* MENU */

#menu {
  display: block;

  background-color: var(--background-menu);
  width: calc(100vw / 2);

  height: 0;
  overflow: hidden;

  top: 3.4375rem;
  right: 0;

  position: absolute;

  border-radius: 0 0 1rem 1rem;
  transition: 0.3s;
}

#menu.toggle {
  height: 18rem;
}

/* close menu */
#menu #close-menu #close-button {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;

  width: 1.875rem;
  height: 1.875rem;

  text-align: center;
  font-weight: bolder;

  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 1px #080808;

  cursor: pointer;
}

/* --- */

#menu ul {
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 8.0625rem;
  margin-top: 3.125rem;

  place-items: center;
  gap: 3.125rem;
}

#menu ul li {
  list-style: none;
}

#menu ul li a {
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding: 0 0.3125rem 0 0.3125rem;
}

#menu ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: var(--yellow);
  left: 0;
  bottom: -6px;
  transition: 0.2s;
}

body.hasHover #menu ul li a:hover {
  color: var(--yellow);
}

body.hasHover #menu ul li a:hover::after {
  color: var(--yellow);
  width: 100%;
}

#menu ul li a.active {
  color: var(--yellow);
}

/* game title */
#game-title {
  font-size: var(--mobile-game-title);
}

#game-title a {
  color: var(--white);
  margin-left: 0.625rem;
}

/* header */
header {
  background-color: var(--header-background);
  height: 3.4375rem;
}

/* header > nav */
header nav {
  height: 3.4375rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav #select-button {
  margin-right: 1rem;
}

/*  GAME */

/*container*/
#container {
  display: grid;
  place-content: center;
}

/*game*/
#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 1.875rem;
  padding: 1rem;
}

/* game display */
#game #game-display {
  background-color: var(--white);
  color: var(--black);
  padding: 0 3rem 0 3rem;
  width: auto;
  height: 2.875rem;
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  justify-content: center;
}

#game #game-display p {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  width: 100%;
}

/* game points */
#game #game-points {
  margin: 1.5625rem 0 1.5625rem 0;
}

#game #game-points p {
  font-size: 1.125rem;
  font-weight: 700;
}

#game #game-points p span {
  color: var(--yellow);
}

/* game game-colors */
#game #game-colors {
  display: grid;
  gap: 1.25rem;
}

#game #game-colors .color-container {
  width: 9.375rem;
  height: 3.125rem;

  border-radius: var(--border-radius);
  border: 5px solid #f8f8f880;

  cursor: pointer;
}

/* Footer */
footer {
  padding: 2rem 1rem;
  opacity: 0.8;
  font-weight: 900;
  text-align: center;
}

footer a {
  color: #8844dd;
  text-decoration: underline;
}

/* Media Queries */
@media (min-width: 768px) {
  #game-title {
    font-size: var(--desktop-game-title);
  }

  /* Select Button */
  #select-button #select {
    font-size: 1.1rem;
  }

  /* Menu */
  #menu {
    width: 22.5rem;
  }

  #menu ul li a {
    font-size: 1.2rem;
  }

  /* Game Display */
  #game #game-display {
    width: 22.5rem;
    height: 4.6875rem;

    text-align: center;
  }

  #game #game-display p {
    font-size: 1.5rem;
  }

  /*game points*/
  #game #game-points {
    width: 214px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #game #game-points p {
    font-size: 1.5rem;
  }

  /*color container*/
  #game #game-colors .color-container {
    width: 250px;
    height: 50px;
  }

  /* Colors container */

  #game-colors {
    display: grid;
    grid-template-areas:
      'content1 content2'
      'content3 content4';
    grid-template-columns: 2;
    grid-template-rows: 2;
  }

  #game-colors #idColor1 {
    grid-area: content1;
  }

  #game-colors #idColor2 {
    grid-area: content2;
  }

  #game-colors #idColor3 {
    grid-area: content3;
  }

  #game-colors #idColor4 {
    grid-area: content4;
  }

  /* Footer */
  footer {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
