:root {
  --background-color: #080808;
  --header-background: #3684cd;
  --background-menu: #003d75;

  --white: #ffffff;
  --black: #000000;
  --yellow: #fff858;

  --border-radius: 1rem;
  --font: 'Roboto', sans-serif;

  --mobile-game-title: 14px;
}
